// Colors
$background: #010101;
$btn-background: #171616;
$btn-clear: #ae6650;
$btn-operators: #8fbd5d;
$btn-numbers: #f0f0f0;

// Typography
$heading-font: Source Sans Pro, Helvetica, Arial, sans-serif;
$body-font: Source Sans Pro Light, Helvetica, Arial, sans-serif;
