// Colors

// DARK-MODE
$background: #010101;
$btn-background: #171616;
$btn-clear: #ae6650;
$btn-operators: #8fbd5d;
$btn-numbers: #f0f0f0;
$fancy-line: #f6f8fe;
$white: #ffff;
$btn-border: #2b2e28;
$dark-green: #427e1d;
$toggle-btn: #2b2e28;
$warning: red;

// LIGHT-MODE
$light-background: #fcfcfc;
$light-background-shadow: #00000070;
$light-btn-background: #f8f8f8;
$light-btn-numbers: #565656;
// #1a1a1a

// Icons
$sun: #ffb703;
$moon: #fdd85d;

// Typography
$heading-font: Source Sans Pro, Helvetica, Arial, sans-serif;
$body-font: Source Sans Pro Light, Helvetica, Arial, sans-serif;
$calc-font: Sackers Gothic Medium, Verdana, Helvetica, sans-serif;
