@use "./mixins";
@use "./palette";

// Operators and Numbers
%calcKeys {
    font-family: palette.$body-font;
    @include mixins.height-and-width($height: 70px, $width: 70px);
    @include mixins.text-style(24px, 800, 27px);
}

// Warning
%errorWarnings {
    color: palette.$warning;
    @include mixins.text-style(16px, 100, 27px);
    text-align: center;
    font-family: palette.$body-font;
}

%paragraph {
    font-family: palette.$body-font;
    @include mixins.text-style(16px, 300, 27px);
}
